<div class="sidebar">
  <div class="sidebar-banner" style="background-image:url({{ site.baseurl }}/{{ site.banner }});"> </div>

    <div class="icon" style="background-image:url({{ site.baseurl }}/{{ site.avatar }});"></div>
    <div class="user">
      <span class="sidebar-name">
        <a href="{{ site.baseurl }}/">{{ site.author.name }}</a>
      </span>
    </div>

    <div class="container">
      <!-- <div class="reply-to"> (TODO) -->
      <!--   Pulsa <i class="fa fa-reply" aria-hidden="true"></i> para continuar una pregunta -->
      <!-- </div> -->
      <form class="question-form" method="post" action="https://api.staticman.net/v2/entry/{{ site.github.repository_nwo }}/{{ site.github.source.branch }}/posts">
        <input name="options[redirect]" type="hidden" value="{{ page.url | absolute_url }}">

        <fieldset style="display:none">
          <input id="posts[address]" name="fields[address]" type="text">
        </fieldset>

        <fieldset>
          <div>
            <textarea name="fields[title]" id="posts[title]" rows="4" type="text"></textarea>
          </div>
        </fieldset>
        <fieldset style="display:flex">
          <button class="send-button">Enviar</button>
          <div class="form-status"></div>
        </fieldset>
      </form>
    </div>
</div>
