<div class="sidebar">
  <div class="sidebar-banner" style="background-image:url({{ site.baseurl }}/{{ site.banner }});"> </div>

    <div class="icon" style="background-image:url({{ site.baseurl }}/{{ site.avatar }});"></div>
    <div class="user">
      <span class="sidebar-name">
        <a href="{{ site.url }}{{ site.baseurl }}">{{ site.author.name }}</a>
      </span>
    </div>

    <div class="container">
      <!-- <div class="reply-to"> (TODO) -->
      <!--   Pulsa <i class="fa fa-reply" aria-hidden="true"></i> para continuar una pregunta -->
      <!-- </div> -->

      <form method="post" action="https://api.staticman.net/v2/entry/mx-psi/ask/master">
        <input name="options[redirect]" type="hidden" value="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
        <fieldset>
          <div>
            <textarea name="fields[title]" id="posts[title]" rows="4" type="text"></textarea>
          </div>
        </fieldset>
        <fieldset>
          <button class="send-button">Enviar</button>
        </fieldset>
      </form>

      <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
      <script>
        var simplemde = new SimpleMDE({
        element: document.getElementById("posts[title]"),
        autosave: {
		    enabled: true,
		    uniqueId: "posts[title]",
		    delay: 1000,
	      },
        toolbar: ["bold", "italic", "|", "quote", "link", "|", "preview", "guide"],
        placeholder: "{{ site.placeholder }}",
        spellChecker: false,
        status: false
        });
      </script>
      <style>.CodeMirror{min-height: 1rem; max-height: 25vh;}</style>
    </div>
</div>
